
.footer{
    width: 100%;
    background-color: var(--black-color);

}
.footer .container-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .container-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.footer .container-1 .social-media a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: var(--black-color-light);
    text-align: center;
}
.footer .containier-1 .box .social-media a box-icon:hover{
    color:red
}
.fb-icon{
    color: #ffff;
}
.img-logo{
    width: 100px;
    height: 55px;
    
}

.footer .container-2{
    background-color: var(--black-color-light);
    padding: 15px 10px;
    text-align: center;
}

@media screen and (max-width:1118px){
    .footer .container-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}